<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API1:2023</title>
</head>
<body>
    <h1>API1:2023 - Broken Object Level Authorization</h1>
    <hr>
    <p>
        APIs tend to expose endpoints that handle object identifiers, creating a wide attack surface of Object Level Access Control issues. Object level authorization checks should be considered in every function that accesses a data source using an ID from the user.
    </p>
</body>
</html>