<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API3:2023</title>
</head>
<body>
    <h1>API3:2023 - Broken Object Property Level Authorization</h1>
    <hr>
    <p>
        This category combines API3:2019 Excessive Data Exposure and API6:2019 - Mass Assignment, focusing on the root cause: the lack of or improper authorization validation at the object property level. This leads to information exposure or manipulation by unauthorized parties.
    </p>
</body>
</html>