<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API5:2023</title>
</head>
<body>
    <h1>API5:2023 - Broken Function Level Authorization</h1>
    <hr>
    <p>
        Complex access control policies with different hierarchies, groups, and roles, and an unclear separation between administrative and regular functions, tend to lead to authorization flaws. By exploiting these issues, attackers can gain access to other users’ resources and/or administrative functions.
    </p>
</body>
</html>