<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API6:2023</title>
</head>
<body>
    <h1>API6:2023 - Unrestricted Access to Sensitive Business Flows</h1>
    <hr>
    <p>
        APIs vulnerable to this risk expose a business flow - such as buying a ticket, or posting a comment - without compensating for how the functionality could harm the business if used excessively in an automated manner. This doesn't necessarily come from implementation bugs.
    </p>
</body>
</html>