<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APIDIOT</title>
</head>
<body>
    <div>
        <h1>APIDIOT</h1>
        <hr>
        <h2>
            Welcome to APIDIOT project!
        </h2>
        <p>
            APIDIOT is a rest api project contains OWASP API TOP TEN 2023 vulnerabilities. Developed by OWASP Bursa Technical University Student Chapter.
        </p>  
    </div>

    <div>
        <h1>APIDIOT LABS</h1>
        <hr>
        <ul>
            <li><a href="API1">API1:2023 - Broken Object Level Authorization</a></li>
            <li><a href="API2">API2:2023 - Broken Authentication</a></li>
            <li><a href="API3">API3:2023 - Broken Object Property Level Authorization</a></li>
            <li><a href="API4">API4:2023 - Unrestricted Resource Consumption</a></li>
            <li><a href="API5">API5:2023 - Broken Function Level Authorization</a></li>
            <li><a href="API6">API6:2023 - Unrestricted Access to Sensitive Business Flows</a></li>
            <li><a href="API7">API7:2023 - Server Side Request Forgery</a></li>
            <li><a href="API8">API8:2023 - Security Misconfiguration</a></li>
            <li><a href="API9">API9:2023 - Improper Inventory Management</a></li>
            <li><a href="API10">API10:2023 - Unsafe Consumption of APIs</a></li>
        </ul>
    </div>


</body>
</html>